<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define a saída para o Console -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Inclui carimbo de data/hora no formato ISO8601 padrão UTC -->
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>

    <!-- Define os níveis de log da aplicação -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE" />
    </root>

    <!-- Habilita logs de debug para os nossos pacotes se necessário -->
    <logger name="com.inventory.control.web.system" level="INFO" />
</configuration>